<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
    <link rel="stylesheet" href="../../static/assets/styles/bootsrap/css/bootstrap.css">
</head>
<body><nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/assets/styles/images/..girl-4910100_1280.jpg." class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h1>ABOUT PAGE</h1>
<P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores debitis quam quos ullam. A, aperiam architecto consequuntur dolores dolorum eveniet exercitationem illo impedit maiores maxime modi molestias, nulla odio odit, omnis porro quaerat quasi quibusdam quos tempora! Animi delectus, necessitatibus?</P>
<h2>MEME LORD</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Alias aliquam autem deserunt doloremque ducimus eaque eligendi error est fuga hic illo, 
  illum inventore neque non numquam placeat quaerat quia quidem quisquam quod similique voluptate voluptatem. 
  Asperiores earum exercitationem ipsam iste molestiae obcaecati porro quae quo sint velit. 
  Culpa, incidunt reprehenderit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore,
  dolorem eaque molestiae quae sint suscipit. Ad aliquam cupiditate,
  eaque eos explicabo obcaecati odit ut voluptatum! Aut est illo possimus soluta veritatis?
  Aspernatur facilis in iste itaque modi nihil soluta temporibus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Ad consequuntur cum dolor dolorem dolores error eum expedita iste laborum nam nulla officia perspiciatis porro quam quisquam reiciendis sed voluptas, voluptatum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Delectus ducimus eius eligendi esse explicabo obcaecati officiis, sequi soluta temporibus voluptate.</p>
<a href="book_details.html"target="_blank">click book_details</a>
</body>
</html>