{% extends 'base.html' %}
{% block content %}
<h2>HOME LIBRARY</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dolorum laborum rerum.
  Beatae id neque obcaecati quibusdam ratione, repellat veniam?
  Ab aspernatur debitis et explicabo minus nostrum quibusdam tempore, veniam vero voluptatum.
  Alias atque cumque enim quam vitae voluptates!</p>
<h4>Book details Form</h4>
        <form action="">
            <label>TITLE:</label><br>
            <input type="text"><br><br>

            <label>AUTHOR:</label><br>
            <input type="text"><br><br>

          <label>PRICE:</label><br>
          <input type="number"><br><br>

          <label>DESCRIPTION INPUTS:</label><br>
          <input type="text"><br><br>
        </form>

{% endblock %}